* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

header .container {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    background-color: #31e2d6;
    height: 50px;
    border: 1px solid #0cee3d;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 5px auto;
    font-size: 18px;
}

/* img {   //stay for another function
    width: 100%;
    height: 70%;
} */

.wrapper {
    /* display: block; */
    width: calc(100%/3);
    height: calc(80%);
    padding-bottom: 15px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    width: 50%;
    border: 1px solid #00ccff;
}

.main-container {
    background: #00ffff;
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

.nav-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #4d2323;
}

#profile {
    width: 100%;
}

.img-profile {
    height: 210px;
    width: 170px;
}

.contacts {
    list-style: none;
}

.profile,
.languges-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-rss {
    height: 50px;
    width: 50px;
}

.languges-level {
   width: 100%;
    height: 70%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #10F4E3;
}

.summary-descr {
    text-align: center;
}

.logo-gitHub {
    height: 50px;
    width: 50px;
}